<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="myget.umbracofilesystemproviders-azure" value="https://www.myget.org/F/umbracofilesystemproviders-azure/api/v3/index.json" />
    <add key="myget.umbraco-packages" value="https://www.myget.org/F/umbraco-packages/api/v3/index.json" />
  </packageSources>
</configuration>